.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(121, 202, 240);
}

.body {
    height: 98vh;
    width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.header {
    height: 07vh;
    width: 100%;
    color: blue;
    background-color: blanchedalmond;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 54px;
    margin: 5px 10px 05px 10px;
}

.header-title {
    margin: 5px 10px 05px 10px;
}

.footer {
    height: 05vh;
    min-height: 50px;
    border: 1px solid black;
    border-radius: 3px;
    color: aqua;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}