.main-body {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main {
    background-image: url("./windfarm.jpg");
}

.search-form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: whitesmoke;     
}

.search-form-h1 {
    margin: 5px 10px 05px 10px;
}

.search-form-info {
    margin: 10px 10px 10px 10px;
}

#form {
    margin: 10px 10px 10px 10px;
}

.weather-inputs {
    border: 1px black solid;
    border-radius: 3px;
}

#weather-info {
    display: flex;
    overflow-x: scroll;
}

#weather-info {
    display: flex;
    /* margin: 0px 0px 0px 0px; */
}

#weather-data {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 10px;
    min-width: 200px;
    border: 1px black solid;
}