.main-body {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main {
    background-image: url("./windfarm.jpg");
}

.search-form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 3px;
}

.search-form-h1 {
    margin: 5px 10px 05px 10px;
}


.search-form-info {
    margin: 0;
}

#form {
    margin: 05px 10px 5px 10px;
}

#weather-info {
    display: flex;
    overflow-x: scroll;
}

#weather-info {
    display: flex;
    flex-direction: column;
}

#weather-data {
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 02px 05px 02px 05px;
    border: 1px black solid;
    border-radius: 8px;
    height: 6%;
    min-height: 28px;
}

.weather-input {
    margin: 0px 0px 0px 5px;
    width: 21%;
}

.weather-input-temp {
    min-width: 100px;
    width: 16%;
}

.weather-input-h3 {
    margin: 0px 0px 0px 0px;
    min-width: 100px;
}

.weather-input-windDir {
    margin: 0px 0px 0px 0px;
    min-width: 200px;
}