.main-body {
    width: 100%;
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main {
    background-image: url("./windfarm.jpg");
}

.search-form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 3px;
}

.search-form-header {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.search-form-header:before,
.search-form-header:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

.search-form-header:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

.search-form-h1 {
    margin: 5px 10px 05px 10px;
}


.search-form-info {
    margin: 0;
}

#form {
    margin: 05px 10px 5px 10px;
}

#weather-info {
    display: flex;
    flex-direction: column;
}

#weather-data {
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 06px 05px 02px 05px;
    border: 1px black solid;
    border-radius: 8px;
    height: 6%;
    min-height: 28px;
}

#weather-data {
    position: relative;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#weather-data:before,
#weather-data:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top: 10px;
    bottom: 10px;
    left: 0;
    right: 0;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

#weather-data:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

.weather-input {
    margin: 0px 0px 0px 5px;
    width: 21%;
}

.weather-input-temp {
    min-width: 100px;
    margin: 0px 0px 0px 0px;
    width: 16%;
}

.weather-input-h3 {
    margin: 0px 0px 0px 0px;
    min-width: 100px;
}

.weather-input-windDir {
    margin: 0px 0px 0px 0px;
    min-width: 200px;
}

.weather-input-windSpd {
    margin: 0px 0px 0px 0px;
    min-width: 200px;
}

#d3-graph {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.svg-class {
    border-radius: 10px;
    border: 1px black solid;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.svg-class {
    position: relative;
    -webkit-box-shadow: 0 7px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 7px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 7px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.svg-class:before, .svg-class:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 10 20px rgba(0, 0, 0, 0.8);
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 100px / 10px;
}

.svg-class:after {
    right: 10px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -moz-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -o-transform: skew(8deg) rotate(3deg);
    transform: skew(8deg) rotate(3deg);
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.grid path,
.grid line {
    fill: none;
    stroke: rgba(0, 0, 0, 0.25);
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

#weather-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

#loader {
    display: flex;
    justify-content: center;
}

#graph-button {
    border: 1px black solid;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 10px -6px #777;
}

#loader-header {
    margin-block-start: 0;
    margin-block-end: 0;
    background-color: whitesmoke;
    border: 1px black solid;
    border-radius: 05px;
    margin: 10px 10px 10px 10px;
    padding: 05px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}